body{
    background-color: #404044;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: red;
    cursor: pointer;
}

img{
    width: 450px;
    height: 450px;
}
